body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

.logo {
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin: 0;
}

.logo .logo-span {
  color: #2e2f42;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}
.page-nav .link {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-nav .link:hover,
.page-nav .link:focus {
  color: #404bbf;
}
.page-nav .link:active {
  color: #404bbf;
  text-decoration: underline;
}

.link-studio {
  color: #404bbf;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 25px;
}

.link-studio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
}

.add .address {
  color: #434455;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover,
.address:focus {
  color: #404bbf;
}

/* .page-nav li:first-child:active:after {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 4px;
  display: block;
  margin-top: 20px;
} */

/* #region main-banner */
.main-banner {
  background-color: #2e2f42;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  max-width: 1440px;
}
.main-banner .banner-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0;
}

.main-banner .btn-banner {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-weight: 500;
  margin: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-banner .btn-banner:hover,
.main-banner .btn-banner:focus {
  background-color: #404bbf;
}
/* #endregion main-banner */

/* #region quality */
h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.quality .quality-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0;
}

.svg-box {
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  position: relative;
  /* padding-top: 24px;
  padding-bottom: 24px; */
  margin-bottom: 8px;
  height: 112px;
}

/* #endregion quality */

.team {
  background-color: #f4f4fd;
}

.team .team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0;
}

.team .workers {
  background-color: #ffffff;
}
.team .workers .name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0;
}

.team .workers .text {
  font-size: 16px;
  margin: 0;
}

.portfolio .p-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio .app .name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}
.portfolio .app .text {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #2e2f42;
}
.f-text {
  color: #f4f4fd;
}
.logo .logo-span-f {
  color: #f4f4fd;
}

/* containers */

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header .container .logo {
  padding: 24px 0;
  margin-right: 76px;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header .container .page-nav {
  display: flex;
  gap: 40px;
}

.page-header .container .page-nav .link {
  padding: 24px 0;
}

.page-header .container .add {
  display: flex;
  align-items: center;
}
.page-header .container .add .add-list .address {
  padding: 24px 0;
}

.page-header .container .add-list {
  display: flex;
  gap: 40px;
}

.page-header .container .navigation {
  display: flex;
  align-items: center;
}

/* body */
.main-banner {
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-banner .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-banner .container .banner-title {
  max-width: 496px;
  margin-bottom: 48px;
}

.main-banner .container .btn-banner {
  padding: 16px 32px;
  border-radius: 4px;
  border-style: none;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 2 cекція */

.quality {
  padding: 120px 0;
}
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.quality .container {
  display: flex;
}
.quality .section-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.quality .section-list .quality-title {
  margin-bottom: 8px;
}

.quality .section-list .quality-text {
  margin: 0;
}

.quality li {
  max-width: 264px;
  width: calc((100% - 72px) / 4);
}

/* cекція 3 */

.team {
  padding: 120px 0;
}

.team .container {
  display: flex;

  flex-direction: column;
  align-items: center;
}
.team .workers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team .container .team-title {
  margin-bottom: 72px;
}

.team .workers {
  max-width: 264px;
  width: calc((100% - 72px) / 4);
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team .container .workers-list .workers .name-and-job {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 0;
}

.team .container .workers-list .workers .name {
  margin-bottom: 8px;
  text-align: center;
}

.team .container .workers-list .workers .text {
  text-align: center;
  margin-bottom: 8px;
}

.socials-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.icon-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.workers .icon-link:hover,
.workers .icon-link:focus {
  background-color: #404bbf;
}

.socials-icon {
  fill: #f4f4fd;
}

/* 4 section */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.p-title {
  margin-bottom: 72px;
}

.portfolio .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio .app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .container .portfolio-list .app .name {
  margin-bottom: 8px;
}

.portfolio .app .app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio .img-box {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  padding: 40px 32px;
  /* padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px; */
  margin: 0;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .overlay-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.img-box:hover .overlay-text {
  transform: translateY(0%);
}

/* .overlay-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0;
} */

.portfolio .app:hover,
.portfolio .app:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

/* footer */

.ftr {
  padding: 100px 0;
}

.ftr .container .logo {
  /* display: inline-block; */
  margin-bottom: 16px;
}
.ftr .container .f-text {
  margin: 0;
}

.ftr .container {
  display: flex;
  align-items: baseline;
}
.logo-text {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}

.social-media {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 16px;
}

.ftr .socials-list {
  gap: 16px;
}

.ftr .icon-link {
  width: 40px;
  height: 40px;
}

.ftr .socials-list .icon-link:hover,
.ftr .socials-list .icon-link:focus {
  background-color: #31d0aa;
}

/* #region form-footer */

.form-container {
  display: flex;
  margin-left: 80px;
  position: relative;
  flex-direction: column;
  gap: 24px;
}

.form-footer .sub-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  margin-left: 80px;
}

.footer-input {
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 4px;
  width: 264px;
  /* padding: 8px 16px; */
  padding-left: 16px;
  margin-right: 24px;
  height: 40px;

  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 2;
  color: #ffffff;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 2;
}

.form-footer .sub-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* gap: 16px; */
  border-radius: 4px;
  height: 40px;
  min-width: 165px;
  cursor: pointer;

  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: #4d5ae5;
  margin: 0;
  border-style: none;
  position: absolute;
  top: 0;
  left: 288px;
}

.sub-btn-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* #endregion form-footer */

/* #region modal overlay */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border-style: none;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close:hover,
.btn-modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close:hover .close-icon-svg,
.btn-modal-close:focus .close-icon-svg {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  margin-top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  width: 360px;
  text-align: center;
  margin-bottom: 16px;
}
.field-wrapper {
  margin-bottom: 8px;
}

.label-field {
  /* display: flex;
  flex-direction: column;
  gap: 8px; */
  display: block;
  color: #8e8f99;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.field-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  /* width: 360px; */
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
  border-color: #4d5ae5;
  outline: none;
  color: #2e2f42;
}

/* .input-wrapper:focus .field-icon {
  fill: #4d5ae5;
} */

.input-field:focus + .field-icon {
  fill: #4d5ae5;
}

.field-comment {
  margin-bottom: 16px;
}

.comment-area {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  outline: none;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.comment-area:focus {
  border-color: #4d5ae5;
}

.policy-text {
  font-weight: 400;
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.field-policy {
  margin-bottom: 24px;
  display: flex;
}

.privacy-accent {
  line-height: 1.33333;
  text-decoration: underline;
  color: #4d5ae5;
}

.btn-send {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border-style: none;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover,
.btn-send:focus {
  background-color: #404bbf;
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox:checked + .policy-text .custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion modal overlay */
