/* common */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #region header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav,
.add {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  color: #4d5ae5;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin: 0;
}

.logo .logo-span {
  color: #2e2f42;
}

.page-header .container .logo {
  padding: 16px 0;
  display: block;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .page-nav {
    display: flex;
    gap: 40px;
  }

  .page-header .container .logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .add {
    display: block;
    align-items: center;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .page-nav .link {
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-nav .link:hover,
  .page-nav .link:focus {
    color: #404bbf;
  }
  .page-nav .link:active {
    color: #404bbf;
    text-decoration: underline;
  }

  .link-studio {
    color: #404bbf;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-bottom: 25px;
  }

  .link-studio::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
  }

  address {
    font-style: normal;
  }

  .add-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .add-link {
    color: #434455;
    text-decoration: none;
    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address:hover,
  .address:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .page-header .container .logo {
    margin-right: 76px;
  }

  .add-list {
    flex-direction: row;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40px;
  }

  .add-list .address {
    padding: 24px 0;
  }
}

/* #endregion header */

/* #region main-banner */

.main-banner .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-banner {
  background-color: #2e2f42;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-m-1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  max-width: 320px;
}

@media screen and (min-resolution: 192dpi) {
  .main-banner {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-m-2x.jpg);
  }
}

.main-banner .banner-title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin: 0;
  padding-top: 72px;
  padding-bottom: 72px;
}

.main-banner .btn-banner {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-weight: 500;
  margin: 0;
  padding: 16px 32px;
  border-radius: 4px;
  border-style: none;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .main-banner {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tab-1x.jpg);
    max-width: 768px;
  }

  .main-banner .banner-title {
    font-size: 56px;
    padding-top: 112px;
    padding-bottom: 36px;
  }

  .main-banner .btn-banner {
    margin-bottom: 112px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .main-banner {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tab-2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .main-banner {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desk-1x.jpg);
    max-width: 1440px;
  }

  .main-banner .banner-title {
    padding-top: 188px;
    padding-bottom: 48px;
  }

  .main-banner .btn-banner {
    margin-bottom: 188px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .main-banner {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desk-2x.jpg);
  }

  .main-banner .btn-banner:hover,
  .main-banner .btn-banner:focus {
    background-color: #404bbf;
  }
}

/* #endregion main-banner */

/* #region section-quality */

.svg-box {
  display: none;
}

.quality .container {
  display: flex;
  padding: 96px 16px;
}

.quality .section-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 72px;
}

.quality-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quality-text {
  color: #434455;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .quality .container {
    padding: 94px 16px;
  }

  .quality .section-list {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 736px;
    gap: 72px 24px;
  }

  .section-list .list {
    max-width: 356px;
    width: calc((100% - 24px) / 2);
  }

  .quality-title {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1158px) {
  .quality .container {
    padding: 120px 0;
  }

  .svg-box {
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    position: relative;
    margin-bottom: 8px;
    height: 112px;
  }

  .quality .section-list {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1128px;
    gap: 24px;
  }

  .section-list .list {
    width: calc((100% - 72px) / 4);
    min-width: 264px;
  }

  .quality-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .quality-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
  }
}

/* #endregion section-quality */

/* #region Our Team */

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team .workers .name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 8px;
  text-align: center;
}

.team .workers .text {
  text-align: center;
  margin-bottom: 8px;
}

.team .team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team .workers {
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

  margin-bottom: 72px;
}

.team .workers:last-child {
  margin-bottom: 0;
}

.socials-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .workers-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 64px 24px;
  }

  .team .workers {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }

  .workers .icon-link:hover,
  .workers .icon-link:focus {
    background-color: #404bbf;
  }
}

/* #endregion Our Team */

/* #region Portfolio */

.overlay-text {
  display: none;
}

.portfolio {
  padding: 120px 0;
}

.portfolio .p-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio .app .name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio .app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio .app:not(:last-child) {
  margin-bottom: 48px;
}

.portfolio .app .app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

/* #endregion Portfolio */
